.App {
  padding: 48px;
}

.inputContainer {
  display: flex;
}

.messageContainer {
  width: 100%;
  margin: 24px;
  padding: 16px;
}

.alerta {
  background-color: rgba(0,255,0, 0.4);
}

.error {
  background-color: rgba(255, 0, 0, 0.4);
}